VITE_GOOGLE_CLIENT_ID=COLOQUE_SEU_CLIENT_ID_AQUI.apps.googleusercontent.com
# Opcional: personalize escopos (se alterar, mantenha espaços entre eles)
# VITE_GOOGLE_SCOPES="https://www.googleapis.com/auth/drive.file https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/userinfo.email"
